# Supabase PostgreSQL Connection Parameters
SPRING_DATASOURCE_URL=jdbc:postgresql://db.<PROJECT_REF>.supabase.co:5432/postgres
SPRING_DATASOURCE_DRIVER=org.postgresql.Driver
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=<SUPABASE_DATABASE_PASSWORD>
SPRING_JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect

# Gemini API key
GEMINI_API_KEY=your-api-key
